@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.body {
  scroll-behavior: smooth;
  background: #000d32;
}
.durat {
  transition-duration: 100ms;
}
.light-text {
  color: #2abdfb;
}
.hover-text {
  color: #00ffff;
}
.light-bg {
  background: #2abdfb;
  background-color: #2abdfb;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.portbtn {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.custom-transition {
  transition-property: justify-content;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.serimg {
  clip-path: polygon(100% 0%, 100% 48%, 100% 100%, 10% 100%, 0 85%, 13% 0);
}
.serimgf {
  clip-path: polygon(0% 0%, 0% 48%, 0% 100%, 90% 100%, 100% 85%, 87% 0);
}
