@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.body {
  scroll-behavior: smooth;
  background: #000d32;
}
.durat {
  transition-duration: 100ms;
}
.light-text {
  color: #2abdfb;
}
.hover-text {
  color: #00ffff;
}
.light-bg {
  background: #2abdfb;
  background-color: #2abdfb;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.portbtn {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.custom-transition {
  transition-property: justify-content;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

/* Define custom text outline class */
.outline-text {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.font-outline-2 {
  -webkit-text-stroke: 2px black;
}
.font-outline-4 {
  -webkit-text-stroke: 4px black;
}
